
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: gilroy;
}

html, body{
height:100%;
width:100%;
overflow-x: hidden;
background-color: #f8f8f8;

}

#main{
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    position: relative;
     padding: 0.1px;
     
    

}


nav{
    height: 12vh;
    width: 100%;
    /* background-color: red; */
   
    margin-top: 40px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    justify-content: space-between;
}

nav h1{
  /* background-color: red; */
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Monument Extended;
  font-size: 45px;
  letter-spacing: -1px;
  position: relative;
  
}
nav h1::after{
    content: "\00A9";
    font-family: gilroy;
    font-weight: 500;
    font-size: 22px;
    position: absolute;
    right: 10%;
    top: 15%;
}
nav h1::before{
    content: "model management";
    font-family: gilroy;
    font-weight: 500;
    font-size: 15px;
    position: absolute;
    right: 10%;
    top: 64%;
    letter-spacing: 0.1px;
    color: #666;
}

nav h2{
    /* background-color: red; */
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right:2px solid #000;
    font-size: 26px;
    font-weight: 600;
  
  }

nav h2:nth-last-child(1){
   width: 10%;
   
}
nav h2:nth-last-child(2){
    width: 29%;
    /* background-color: red; */
}

#center{
   height: 100%;
   width: 100%;
   position: relative;
   padding: 4vw;
   /* background-color: red; */
}

#content{
    height: 100%;
    width: 100%;
    position: relative;
    /* background-color: blue; */
}
#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay{
    height: 52%;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* background-color: red; */
     padding: 3vw;
}
#over1{
    display: flex;
   
    line-height: 1;
    align-items:center ;
    justify-content: space-between;
    color: #fff;
    margin-bottom: 2vw;
}
#over1 h1{
    
    font-size: 3.6vw;
    font-family: Monument Extended;
}
#over1 h2{
    font-size: 1vw;
    padding: 2vw 2.2vw;
    /* background-color: blue; */
    border-radius: 50%;
    border: 1px solid #fff;

}


#over2{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    color: #fff;
    border-top: 2px solid #fff;
    padding: 1.5vw 0;
}

#over2 h4{
    font-size: 1.3vw;
    font-weight: 500;
}
#over2 img{
    height: 3vw;
}

#scroll{
    position: relative;
    height: 20vw;
    width: 100%;
    /* background-color: red; */
    /* padding: 1vw; */
    white-space: nowrap;
    overflow-x:hidden;
    overflow-y: hidden;
  
   
}
#container{
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    display: inline-block;
    padding: 1vw;
  
    animation: anime;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#scroll img{
    
    height: 95%;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    width: 15vw;
    margin: 10px;
    
    
}

@keyframes anime {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 24px));
    }
}

#alphabet{
    height: 8vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    margin-top: 2vw;
}

#alphabet h5{
    font-size: 2vw;
    text-transform: uppercase;
    font-style: italic;
    border-bottom: 2px solid #000;
    margin-right: 4vw;
    font-weight: 500;

    
}

#alphabet h6{
    font-size: 1vw;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 4px;
    /* background-color: blue; */
    padding: 0.6vw 0.9vw;
    border-radius: 50%;
    cursor: pointer;
    transition: all ease 0.2s;
    
   

}
#alphabet h6:hover{
    border: 1px solid #00000051;
}

#page2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vw;
}

#page2-part1{
    height: 100%;
    width: 50%;
    background-color: red;
}
#page2-part1 img{
 height: 100%;
 width: 100%;
 object-fit: cover;
}


#page2-part2{
    height: 100%;
    width: 46%;
    /* background-color: blue; */
    
}

#page2-part2 img{
height: 80%;
width: 90%;
object-fit: cover;
object-position: top;
}

#text{
    display: flex;
    justify-content:flex-start;
    padding-top: 13px;
  
    
}
#text h4:nth-child(1){
    /* background-color: red; */
    width: 40%;
    font-size: 1.5vw;
}
#text h4:nth-child(2){
    /* background-color: blue; */
    width: 40%;
    margin-left: 36px;
    font-size: 1.1vw;
    color: #000000af;
}

#page3{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vw;
}

#page3-left{
    /* background-color: red; */
    height: 80%;
    width: 40%;
    position: relative;
}
.arrow{
    position: absolute;
   left: 37%;
   top: 38%;
}

#page3-left h2{
    margin-left: 3vw;
    font-size: 1.4vw;
    font-weight: 600;
}

#page3-left img:nth-child(1){
 
    margin: 5vw;
    border-radius: 50%;
    object-fit: cover;
    animation: rotate;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* background-color: red; */
}
#page3-right{
    /* background-color: blue; */
    height: 100%;
    width: 50%;
}
#page3-right img{
    height: 100%;
    width: 100%;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}

#page4{
    height: 75%;
    width: 90%;
    background-color: red;
    margin: 5vw;
}

#page4 img{
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
}

#page5{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    position: relative;
}

#page5>h1{
    text-align: center;
    font-size: 3vw;
    font-family: Monument Extended;
    text-transform: uppercase;
    margin-bottom: 7vh;
}

.elem{
    position: relative;
    height: 17vh;
    width: 90%;
    margin-left: 5vw;
    /* background-color: blue; */
    border-top: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vh;
}

.elem img{
    height: 8.95rem;
    width: 8.95rem;
    position: absolute;
    border-radius: 50%;
    left: 10%;
    object-fit: cover;
    opacity: 0;
    transition: all ease 0.7s;
    object-position: top;
    
}

.elem:nth-last-child(3) img{
    left: 40%;
}
.elem:nth-last-child(1) img{
    left: 40%;
}

.elem:hover{
    background-color: #b3b3b32b;
}

.elem:hover img{
    opacity: 1;
    left: 25%;
    
}




.elem:nth-last-child(1){
    border-bottom: 2px solid #000;
}

.elem-part2{
    width: 50%;
}

.elem h3{
    text-transform: uppercase;
    font-size: 2vh;
    font-weight: 600;
    width: 6%;
}

.elem-part2 h1{
    font-size: 4.5vh;
    font-weight: 600;
}
.elem-part2 h5{
    font-size: 2vh;
    text-transform: uppercase;
}

#page6{
    height: 100%;
    width: 100%;
    display: flex;
    padding: 5vw;
    align-items: center;
    justify-content: space-between;
    position: relative;
    /* background-color: red; */
}
#page6>img{
    height: 100%;
    width: 50%;
}
#page6-right{
   margin: 1vw 4vw;
   
}
#page6-right h1{
    font-size: 5vh;
    font-weight: 600;
    font-family: monument Extended;
}

#page6-right h3{
    font-size: 2.7vh;
    font-weight: 500;
    padding-top: 1vw;
   
}
#page6-right h5{
    font-size: 2vh;
    font-weight: 500;
    padding-top: 2vw;
    width: 89%;
   
}

#img{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4.5vw;
    gap: 2vw;
    
}

.page6-img1 img{
    height: 100%;
    width: 100%;
}
.page6-img2 img{
    height: 100%;
    width: 100%;
}

#page7{
    height: 100%;
    width: 100%;
    padding: 5vw;
}
#page7 img{
    height: 100%;
    width: 100%;
    
}

#page8{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    padding: 6vw;
    align-items: center;
    justify-content: space-between;
    margin-left: 3vw;

}
#page8-left img{
    height: 60%;
    width: 80%;
}
#page8-right img{
    height: 70%;
    width: 70%;
   
}
#page8-right h3{
    font-size: 1.5vw;
    width: 30%;
    margin-top: 2vw;
}
#page8-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}
#page8-right h5{
    font-size: 1vw;
    width: 30%;
    /* background-color: red; */
    margin-right: 22vh;
    margin-top: 2vw;
    
}
#text-page8{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page9{
    /* height: 10vh; */
    width: 100%;
    margin-top: 4vw;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
    padding: 0.4vw;
}
#page9 h1{
    font-family: monument Extended;
    font-size: 3vw;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-text-stroke: 2px black;
    color: transparent;
    letter-spacing: 3px;
    /* background-color: blue; */
    margin-right: 16px;
    animation-name: move;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}


#page10{
    position: relative;
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vw;

}

#page10-center{
    height: 100%;
    width: 40%;

}
#page10-right{
    height: 100%;
    width: 40%;
    
}
#page10-left{
    width: 35%;
    /* background-color: red; */
}
#page10-center img{
    height: 55%;
    width: 80%;
    object-fit: cover;
    object-position: top;
    margin-top: 10%;

}
#page10-right img{
    object-fit: cover;
    height: 55%;
    width: 80%;
    object-position: 0% 35%;
    margin-top: 6.1%;

}
#page10-left h1{
    width: 30%;
    font-size: 3vw;
    font-family: monument Extended;
    padding-bottom: 24vw;
    padding-left: 10%;
    
}

#page10-center h4{
    width: 80%;
    font-size: 2.3vh;
    font-weight: 500;
    

}
#page10-right h4{
    width: 80%;
    font-size: 2.3vh;
    font-weight: 500;
    
}

footer{
    height: 30%;
    width: 100%;
    /* background-color: red; */
    display: flex;
  
}

#leftfoot{
    width: 40%;
    height: 100%;
    /* background-color: aquamarine; */
    border: 2px solid #000;
    display: flex;
    padding: 2vw 3.5vw;
    justify-content: space-between;
    
}
#leftfoot h1{
    font-family: Monument Extended;
    font-size: 45px;
    letter-spacing: -1px;
    position: relative;
}

#leftfoot h1::after{
    content: "\00A9";
    font-family: gilroy;
    font-weight: 500;
    font-size: 22px;
    position: absolute;
    right: -5%;
    top: -20%;
}
#leftfoot h1::before{
    content: "model management";
    font-family: gilroy;
    font-weight: 500;
    font-size: 15px;
    position: absolute;
    right: -5%;
    top: 80%;
    letter-spacing: 0.1px;
    color: #666;
}



#leftfoot h2{
    font-family: gilroy;
    font-weight: 600;
}

#foot-center{
    height: 100%;
    width: 20%;
    /* background-color: green; */
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    text-align: center;
    padding-top: 2vw;
    
}
#foot-center h2{
    font-family: gilroy;
    font-weight: 600;
}
#foot-right{
    height: 100%;
    width: 40%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #000;
}

#space{
    height: 4%;
    width: 100%;
}

#foot-right1{
    height: 50%;
    width: 100%;
    border-bottom: 2px solid #000;
    padding: 2vw;
}

#foot-right h2{
    font-family: gilroy;
    font-weight: 600;
}
#foot-right2{
    height: 50%;
    width: 100%;
    padding: 2vw;
}